
.cabezal{ 
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    align-items: center;
    position: relative;
    min-height: 130px;
    border-bottom: 3px dotted #d7d7d7;
}

#titulo-pagina{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: calc(70px * var(--font-size-multiplier, 1));
    color: #BD5050;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.barra-navegacion{
    border-bottom: 3px dotted #d7d7d7;
    display: flex;
}

.barra-navegacion .boton-navegacion{
    flex-grow: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(20px * var(--font-size-multiplier, 1));
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.barra-navegacion .boton-navegacion:hover{
    background-color: #f1f1f1;
}

.nav-1{
    height: calc(60px * var(--font-size-multiplier, 1));
}

.nav-2{
    height: calc(50px * var(--font-size-multiplier, 1));
}

.btn-gris{
    color: gray !important;
}

@media (max-width: 1359px) {
    .cabezal{
        padding: 0px 30px;
        min-height: 100px;
    }

    #titulo-pagina{
        font-size: 50px
    }
    
    .botones-dropdown-navegacion{
        min-height: calc(50px * var(--font-size-multiplier, 1));
        height: min-content;
        display: flex;
        justify-content: space-evenly;
    }

    .boton-dropdown-1, .boton-dropdown-2{
        font-family: Georgia, serif;
        width: 100%;
        font-size: calc(20px * var(--font-size-multiplier, 1));
        border: none;
        border-bottom: 3px dotted #b8b8b8;
        background-color: white;
    }
    .boton-dropdown-1{
        border-right: 3px dotted #b8b8b8;
    }
}
