.carta-noticia-mobile{
    position: relative;
    width: calc( 100% - 20px);
    max-width: 500px;
    margin: 0px 15px 15px 15px;
    border: 3px dotted #c2c2c2;
    height: min-content;
    box-sizing: border-box;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    background-color: white;
}

.carta-noticia-mobile:hover{
    border: 3px solid #b8b8b8;
}

.imagen-noticia-mobile{
    width: 100%;
    height: 250px;
    background-color: rgb(236, 236, 236);
}   

.imagen-noticia-mobile img{
    width: 100%;         /* Make the image fill the width of the container */
    height: 100%;        /* Make the image fill the height of the container */
    object-fit: cover;   /* Ensures the image fills the container without stretching, while maintaining aspect ratio */
    object-position: center; /* Optionally centers the image within the container */
}

.titulo-noticia-mobile{
    font-size: calc(25px * var(--font-size-multiplier, 1));
    padding: 7px 0px;
    font-weight: normal;
    margin: 0;
}

.carta-noticia-mobile hr{
    border: none;
    background-color: #BD5050;
    height: 2px;
    margin: 1px;
}

.parrafo-noticia-mobile{
    font-size: calc(22px * var(--font-size-multiplier, 1));
    padding: 7px 0px;
}

.footer-noticia-mobile{
    position: absolute;
    height: min-content;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: calc(20px * var(--font-size-multiplier, 1));
    color: rgb(141, 141, 141);
}

.padding-footer-noticia-mobile{
    height: 25px;
}
.tipo-contenido-noticia-mobile{
    color: #BD5050;
}
