.carta-noticia-grande {
    border: 3px dotted #c2c2c2;
    min-height: min-content;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    background-color: white;
    grid-column: span 2;  /* Ocupa dos columnas en lugar de una */
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }


.unstyled-link-grande{
    text-decoration: none; /* Removes underline */
    color: inherit;       /* Inherits the color from the parent element */
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.unstyled-link-grande-vertical{
    flex-direction: column-reverse !important;
    margin-top: -40px;
}

.carta-noticia-grande:hover{
    border: 3px solid #b8b8b8;
}

.carta-grande-vertical{
    flex-direction: column-reverse !important;
    height: fit-content;
}

.info-noticia-grande-vertical{
    height: 40% !important;
    width: 100% !important;
}

.imagen-noticia-grande  img{
    width: 100%;         /* Make the image fill the width of the container */
    height: 100%;        /* Make the image fill the height of the container */
    object-fit: cover;   /* Ensures the image fills the container without stretching, while maintaining aspect ratio */
    object-position: center; /* Optionally centers the image within the container */
}

.imagen-noticia-grande-vertical{
    width: 100% !important;
    height: 300px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
}

.info-noticia-grande{
    height: 100%;
    position: relative;
    width: 40%;
}

.imagen-noticia-grande{
    width: calc(60% - 12px);
    background-color: rgb(236, 236, 236);
    margin: 0px 0px 0px 10px;
}

.titulo-noticia-grande{
    font-size: calc(25px * var(--font-size-multiplier, 1));
    padding-bottom: 7px;
    color: #BD5050;
    font-weight: normal;
    margin: 0;
}

.carta-noticia-grande hr{
    border: none;
    background-color: #BD5050;
    height: 2px;
    margin: 1px;
}

.parrafo-noticia-grande{
    font-size: calc(22px * var(--font-size-multiplier, 1));
    padding: 7px 0px;
}

.parrafo-secundario-noticia-grande{
    font-size: calc(18px * var(--font-size-multiplier, 1));
    color: grey;
}

.autor-noticia-grande{
    margin: 10px 0px;
    font-size: calc(20px * var(--font-size-multiplier, 1));
    color: rgb(141, 141, 141);
}

.footer-noticia-grande{
    height: min-content;
    bottom: 0px;
    
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: calc(20px * var(--font-size-multiplier, 1));
    color: rgb(141, 141, 141);
}

.tipo-contenido-noticia-grande{
    color: #BD5050;
}

