.fecha-de-hoy{
    height: min-content;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: normal;
    color: #747474;
}

@media (max-width: 1359px) {
    .fecha-de-hoy{
        font-size: 24px;
    }
    
}