.pie-de-pagina{

    height: min-content;
    border-top: 3px dotted #d7d7d7;
    padding: 60px 40px;
    color: rgb(141, 141, 141);
    font-size: calc(18px * var(--font-size-multiplier, 1));
}

.pie-de-pagina .divisor-pie{
    border-top: 3px dotted #d7d7d7 ;
    height: 5px;
    width: 100%;
    margin: 25px 0px 25px 0px;
}

.contenedor-links{
    display: flex;
    flex-direction: row;
    width: calc(100% - 80px);
    justify-content: space-between;
    padding: 0px 40px;
}

.contenedor-links .link-pie:hover{
    color: #BD5050;
    text-decoration: underline;
}

.info-pie{
    display: flex;
    justify-content: center;
    height: min-content;
}

@media (max-width: 1359px) {

    .pie-de-pagina{
        font-size: calc(21px * var(--font-size-multiplier, 1));
    }
    .contenedor-links{
        width: calc(100% - 40px);
        padding: 0px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .pie-de-pagina{
        padding: 20px 40px 40px 40px;
    }
    .link-pie{
        min-width: min-content;
    }

}