.contenedor-video{
    margin: 12px 12px;
    
    width: calc(100% - 70px);
    background-color: white;
    height: min-content;
    border: 3px dotted #c2c2c2;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.titulo-noticia-video{
    padding: 20px;
    font-size: calc(35px * var(--font-size-multiplier, 1));
    width: calc(100% - 40px);
    font-weight: normal;
    margin: 0;
}

.video-cabezal{
    padding: 20px;
    width: calc(100% - 40px);
    height: min-content;
}

.video-cabezal-video{
    width: 100%;
    height: 736px;
}

.descripcion-imagen{
    display: flex;
    height: 10%;
    color: grey;
    font-size: calc(20px * var(--font-size-multiplier, 1));
    align-items: center;
    padding-top: 10px;
}

.video-divisor{
    margin: 0;
    border: none;
    border-top: 3px dotted #c2c2c2;
    margin-bottom: 12px;
    width: calc(100% - 40px);
    margin-left: 20px;
}


.contenedor-cuerpo-video{
    padding: 20px;
    font-size: calc(25px * var(--font-size-multiplier, 1));
    line-height: 1.5;
}

.contenedor-cuerpo-video p{
    margin: 0;
    white-space: pre-line;
}

.footer-video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    font-size: calc(18px * var(--font-size-multiplier, 1));
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-bottom: 20px;
}

.fecha-video{
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 1359px) {

    .contenedor-video{
        padding: 0px;
        width: calc(100% - 24px);
    }
    .video-contenedor-cabezal{
        flex-direction: column-reverse;
    }
    
    .video-contenedor-introduccion{
        width: calc(100% - 40px);
        margin-right: 0;
    }

    .video-contenedor-imagen{
        width: calc(100% - 40px);
        height: 300px;
    }

    .video-divisor{
        margin: 0px 12px;
    }

    .video-contenedor-introduccion{
        padding-top: 0;
    }

    .footer-video{
        padding: 20px;
        margin: 0px;
    }
    
    .video-cabezal-video{
        height: 480px;
    }
}

@media (max-width: 700px){
    .video-cabezal-video{
        height: 269px;
    }
}

