.App{
    background-image: url(https://github.com/Renn4/pagina-noticias-ihc/blob/master/src/images/periodico-bg.png?raw=true);
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed; /* Ensures the background stays static */
    background-position: center;
    overflow: hidden;

}

.contenedor-principal{
    width: 1440px;
    height: 1340px;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
    position: relative; /* Contain floating elements */
}

.cabezal-seccion{
    position: relative;
    min-height: 90px;
    margin-bottom: -12px; /* Corrección para igualar los márgenes visibles entre éste cabezal y las cartas de noticias*/
}

#titulo-seccion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(35px * var(--font-size-multiplier, 1));
    color: #BD5050;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pie{
    min-height: 240px;
    border-top: 3px dotted #d7d7d7;
}


.contenedor-grid-noticias{
    width: 100%;
    height: min-content;
    padding-bottom: .8%;
}

.fila-noticias{
    padding: .8% 0 .0% .8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .8%;
}


@media (max-width: 1359px) {

    .cabezal-seccion{
        min-height: 60px;
        height: calc(60px * var(--font-size-multiplier, 1));;
        margin-bottom: 0px;
    }
    #titulo-seccion{
        font-size: calc(30px * var(--font-size-multiplier, 1));
    }

}
